*{
    box-sizing: border-box;
}
.body1{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    color: rgb(43, 50, 50);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
    background-color: rgba(151, 149, 153, 0.128);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    font-weight: 500;
    /* opacity: 1; */
}
input{
    padding: 12px 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
}
input:focus{
    background-color: rgb(250,250,250);
}
.regbtn{
        padding: 10px 15px;
        background-color: #c1baba;
        border: none;
        border-radius: 5px;
        font-size: larger;
        font-weight: bolder;
        width: 100%;
        margin-top: 8px;
}
.regbtn:hover{
    background-color: rgb(20, 67, 220);
    color: wheat;
    box-shadow: 2px 2px 5px black;
}
.btnlogin{
        padding: 10px 15px;
            background-color: rgb(20, 67, 220);
            border: none;
            border-radius: 3px;
            color: white;
            font-size: larger;
            font-weight: bolder;
            width: 100%;
}
.btnlogin:hover {
    box-shadow: 2px 2px 5px black;
}